<app-navbar></app-navbar>
<div class="container mt-3 mb-5">
    <div class="d-md-flex gap-3">
        <div class="col-md-3 bg-dark rounded h-100 mb-3">
            <app-filter [productList]="productList" (filterName)="filterProducts($event)"></app-filter>
        </div>
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
            class="col-md-9">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label fs-3 fw-bold">Search for product</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="username" (input)="searchProduct($event)">
                </div>
            </div>
            <div class="d-flex gap-3 flex-wrap">
                <div routerLink="/products/{{product.id}}" *ngFor="let product of productList"
                    class="card col-md-4 cursor-pointer">
                    <img src={{product.images[0]}} class="card-img-top h-100 object-fit-cover"
                        style="max-height: 300px;" alt="...">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title fw-bold mt-2">{{product.title}}</h5>
                        <div class="truncate">
                            <p class="card-text fw-light mb-3 ">
                                {{product.description}}</p>
                        </div>
                        <div class="d-flex">
                            <span
                                class="bg-secondary small p-1 pe-3 ps-3 rounded text-light fw-semibold opacity-50">{{product.category.name}}</span>
                        </div>
                        <div class="d-flex d-flex justify-content-between align-items-center mt-5">
                            <span class="fs-3 fw-bold text-secondary">${{product.price}}</span>
                            <a [routerLink]="['/products']" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="canShow">
                    <div *ngFor="let plhd of placeholder" class="card border-0 col-md-4 cursor-pointer">
                        <div class="placeholder">
                            <div class="placeholder-image"></div>
                            <div class="placeholder-body">
                                <div class="placeholder-title rounded"></div>
                                <div class="placeholder-description rounded mt-3"></div>
                                <div class="d-flex justify-content-between mt-3">
                                    <div class="placeholder-button rounded"></div>
                                    <div class="placeholder-button rounded"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>