<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="d-md-flex gap-3">
        <div class="col-md-3 bg-dark rounded h-100 mb-3">
            <app-filter></app-filter>
        </div>
        <div class="col-md-9">
            <div class="d-flex gap-3 flex-wrap">
                <div *ngFor="let product of productList" class="card col-md-4" style="width: 19rem;">
                    <img src={{product.category.image}} class="card-img-top h-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-2">{{product.title}}</h5>
                        <p class="card-text fw-light mb-3">{{product.description}}</p>
                        <div class="d-flex d-flex justify-content-between align-items-center">
                            <span>{{product.price}}</span>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>