<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <div class="container">
        <a class="nav-link" [routerLink]="['/products']">
            <img src="https://www.l5.com.br/hubfs/Logo%20L5.png" alt="L5" width="30" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/products']">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/categories']">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://www.l5.com.br/hubfs/Logo%20L5.png" alt="L5" width="25" height="25">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" [routerLink]="['/login']">User Page</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/login']">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>