.bg-cover {
    background-color: black;
    opacity: 0.85;
}

@media only screen and (max-width: 996px) {
    .card {
        min-width: 380px;
        margin: auto;
    }
}

.menu {
    width: 60vw;
    height: 100vh;
}

@media only screen and (min-width: 890px) {
    .menu {
        display: none;
    }
}