<app-navbar></app-navbar>
<div class="container mt-3 mb-5">
    <div class="d-md-flex flex-wrap">
        <div *ngFor="let category of categoriesList" class="col-md-6 col-lg-4">
            <div class="p-1">
                <div class="card rounded"
                    style="background: url({{category.image}}); background-size: cover; height: 300px; min-width: 19rem;">
                    <div class="bg-cover h-100 rounded p-5">
                        <div class="card-body rounded text-light">
                            <p class="card-text"><small class="text-secondary">Category</small></p>
                            <h5 class="card-title fs-3">{{category.name}}</h5>
                            <a [routerLink]="['/products']" class="btn btn-primary mt-5 w-100">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>