.content {
    min-height: 92.9vh;
    overflow-x: hidden;
    overflow-y: hidden !important;
}

.background {
    background: url(../../../../public/background.jpg);
    background-size: cover;
    background-position: center;
}

.headline {
    font-size: 2rem;
    line-height: 40px;
}

.headline-number {
    font-size: 2.5rem;
}

.menu {
    width: 60vw;
    height: 100vh;
}

.infos {
    margin-top: -100px;
    padding-left: 100px;
}

@media only screen and (max-width: 890px) {
    .menu {
        display: none;
    }

    .headline {
        font-size: 1.6rem;
        line-height: 40px;
    }

    .infos {
        padding-left: 0px;
    }
}