<app-navbar></app-navbar>
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center shadow rounded mt-5 p-5">
        <div class="">
            <img src="https://www.l5.com.br/hubfs/Logo%20L5.png" alt="L5" width="250" height="300">
        </div>
        <h3 class="fs-1 fw-bold mt-3">L5 Networks</h3>
        <div class="mt-3 d-flex flex-column align-items-center">
            <span class="text-secondary">São Paulo, Brazil</span>
            <span>Front End Developer - Angular 17</span>
        </div>
        <div class="d-flex mt-5 gap-5">
            <div class="d-flex flex-column align-items-center">
                <span class="fs-2 text-secondary fw-bold">53</span>
                <span>Friends</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <span class="fs-2 text-secondary fw-bold">18</span>
                <span>Projects</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <span class="fs-2 text-secondary fw-bold">200+</span>
                <span>Commits</span>
            </div>
        </div>
    </div>
</div>