<div class="d-flex justify-content-center flex-lg-row flex-md-row flex-column min-vh-100">
    <div class="background col-md-6 col-sm-12"></div>
    <div class="col-md-6 col-sm-12 p-5 d-flex flex-column justify-content-center align-items-center">
        <div class="pb-5">
            <div class="d-flex mb-5">
                <img width="150" src="logoipsum.svg" alt="logo">
            </div>
            <div class="pe-2 pt-2">
                <h4 class="headline fw-light">Helo,</h4>
                <p class="headline fw-bold mt-1">Welcome!</p>
            </div>
            <form class="mt-5">
                <div>
                    <input type="email" class="form-control bg-brand-light border-1 border-brand rounded-0 p-3"
                        [(ngModel)]="username" name="username" placeholder="Your username">
                </div>
                <div>
                    <input type="password" class="form-control bg-brand-light border-1 border-brand rounded-0 p-3"
                        [(ngModel)]="password" name="password" placeholder="Password">
                </div>
                <div class="w-100 text-end mb-5">
                    <span class="small text-primary"><a href="#" class="link-underline link-underline-opacity-0">Forgot
                            password?</a></span>
                </div>
                <button type="submit" class="btn bg-brand-primary w-100" (click)="login()">Log In</button>
                <div class="w-100 text-center mt-3 mb-5">
                    <p class="small brand-secondary">Don't you have an account? <span class="fw-semibold"><a href="#"
                                class="link-underline link-underline-opacity-0">Sign Up</a></span></p>
                </div>
            </form>
        </div>
    </div>
</div>